/* Main */
.mainSlider .swiper-slide{position:relative;height:808px;text-align:center;}
.mainSlider .swiper-slide:before{content:'';width:100%;height:100%;position:absolute;top:0;left:0;background:#000;opacity:0.3;z-index:1;}
.mainSlider .swiper-slide.mslide01{background:url(../images/contents/bg_main_slide01.jpg) no-repeat center;background-size:cover;}
.mainSlider .swiper-slide.mslide02{background:url(../images/contents/bg_main_slide02.jpg) no-repeat center;background-size:cover;}
.mainSlider .swiper-slide.mslide03{background:url(../images/contents/bg_main_slide03.jpg) no-repeat center;background-size:cover;}
.mainSlider .swiper-slide.mslide04{background:url(../images/contents/bg_main_slide04.jpg) no-repeat center;background-size:cover;}
.mainSlider .swiper-slide .cont{position:absolute;z-index:2;left:0;right:0;margin:0 auto;top:230px;}
.mainSlider .swiper-slide .cont .tit{color:#fff;font-size:46px;line-height:60px;font-weight:500;}
.mainSlider .swiper-slide .cont .txt{color:#fff;font-size:20px;font-size:20px;margin-top:20px;}
.swiper-button-next, .swiper-button-prev{font-size:0;text-indent:-9999px;}
.mainSlider .swiper-button-prev{width:80px;height:80px;background:url(../images/contents/btn_main_prev.png) no-repeat 0 0;text-indent:-999px;left:100px;}
.mainSlider .swiper-button-next{width:80px;height:80px;background:url(../images/contents/btn_main_next.png) no-repeat 0 0;right:100px;}
.recruit_count_box{background:#ed174d;height:180px;position:relative;}
.recruit_count_box:before{content:'';display:block;width:20%;height:100%;position:absolute;background:#bfe10e url(../images/contents/bg_count_box.gif) no-repeat right center;top:0;left:50%;margin-left:-960px;z-index:0;}
.recruit_count_box .cont{max-width:1170px;width:100%;margin:0 auto;overflow:hidden;position:relative;z-index:1;height:100%;}
.recruit_count_box .cont .txt{position:absolute;color:#fff;font-size:18px;left:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.recruit_count_box .cont .count_list{position:absolute;overflow:hidden;right:0;margin-top:25px;}
.recruit_count_box .cont .count_list li{float:left;padding:10px 0;border-left:1px solid #f14571;width:120px;text-align:center;}
.recruit_count_box .cont .count_list li:nth-child(6){width:130px;}
.recruit_count_box .cont .count_list li .tit{font-size:18px;color:#fff;}
.recruit_count_box .cont .count_list li .tit:after{content:'';display:block;width:5px;height:5px;background:#f68ba6;border-radius:50%;margin:10px auto;}
.recruit_count_box .cont .count_list li .num{font-size:40px;color:#fff;}

.recruit_list_box .cont{width:100%;max-width:1170px;margin:0 auto;padding:80px 0;overflow:hidden;}
.recruit_list_box .recruit_list{margin-left:-30px;margin-top:-30px;overflow:hidden;}
.recruit_list_box .recruit_list li{width:33.33%;float:left;}
.recruit_list_box .recruit_list .box{position:relative;display:block;margin-left:30px;margin-top:30px;height:256px;border:1px solid #d9d9dd;border-radius:2px;box-sizing:border-box;}
.recruit_list_box .recruit_list .box .top{padding:30px 30px 0;display:block;}
.recruit_list_box .recruit_list .box .loc{width:84px;height:28px;border-radius:14px;color:#fff;text-align:center;display:inline-block;}
.recruit_list_box .recruit_list .box .loc.seoul{background:#b66aa5;}
.recruit_list_box .recruit_list .box .loc.daegu{background:#a574c4;}
.recruit_list_box .recruit_list .box .loc.kangwon{background:#6d74af;}
.recruit_list_box .recruit_list .box .loc.honam{background:#b49c7f;}
.recruit_list_box .recruit_list .box .day{position:absolute;right:35px;}
.recruit_list_box .recruit_list .box .day .num{position:relative;font-weight:bold;font-size:15px;color:#8d8d8d;letter-spacing:0;z-index:1;}
.recruit_list_box .recruit_list .box .day.today .num{color:#ed174d;}
.recruit_list_box .recruit_list .box .day.today:after{content:'';display:block;position:absolute;left:-5px;bottom:0;z-index:0;bottom:-2px;height:12px;width:100%;padding:0 5px;background:#dff086;}
.recruit_list_box .recruit_list .box .tit_area{padding:20px 30px 0;display:block;}
.recruit_list_box .recruit_list .box .tit_area .opt{font-size:14px;}
.recruit_list_box .recruit_list .box .tit_area .tit{font-size:24px;overflow:hidden;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.recruit_list_box .recruit_list .box:hover .tit{color:#ed174d;text-decoration:underline;}
.recruit_list_box .recruit_list .box .info_area{display:block;position:absolute;bottom:0;width:100%;background:#f8f8f8;height:60px;}
.recruit_list_box .recruit_list .box .info_area .date{position:absolute;font-size:15px;color:#888;left:30px;top:20px;letter-spacing:0;}
.recruit_list_box .recruit_list .box .info_area .hire{position:absolute;font-size:14px;color:#666;right:30px;top:20px;}
.recruit_list_box .regular_register{text-align:center;padding:40px 0 0;}
.recruit_list_box .box:hover .regular_register .tit{color:#ed174d;text-decoration:none;}
.recruit_list_box .regular_register .tit:before{content:'';display:block;width:46px;height:46px;background:url(../images/contents/ico_recruit.png) no-repeat 0 0;margin:0 auto 15px;}
.recruit_list_box .regular_register .tit{color:#ed174d;font-size:22px;font-weight:bold;display:block;}
.recruit_list_box .regular_register .txt{color:#4a4c57;font-size:14px;}
.recruit_list_box .regular_register .btn{display:inline-block;width:140px;height:38px;line-height:38px;background:#ed174d;border-radius:3px;margin-top:20px;}
.recruit_list_box .regular_register .btn span{display:inline-block;padding-right:20px;position:relative;color:#fff;}
.recruit_list_box .regular_register .btn span:after{content:'';position:absolute;right:0;top:50%;margin-top:-6px;display:inline-block;background:url(../images/contents/ico_arrow.png) no-repeat 0 0;width:7px;height:12px;}
.recruit_list_box .btn_area{text-align:center;margin-top:30px;}
.recruit_list_box .btn_area .btn_more{display:inline-block;font-size:16px;color:#666;text-align:center;width:50px;}
.recruit_list_box .btn_area .btn_more:after{content:'';display:block;width:28px;height:14px;background:url(../images/contents/btn_more.png) no-repeat 0 0;margin:5px auto 0;}
.recruit_info_box .cont{overflow:hidden;}
.recruit_info_box .cont .info_l{float:left;width:50%;}
.recruit_info_box .cont .info_r{float:right;width:50%;}
.recruit_info_box .cont .info_l .box{background:url(../images/contents/bg_main_recruit_info01.png) no-repeat 0 0;background-size:cover;height:650px;}
.recruit_info_box .cont .info_r .box:nth-child(1){background:url(../images/contents/bg_main_recruit_info02.png) no-repeat 0 0;background-size:cover;height:400px;}
.recruit_info_box .cont .info_r .box:nth-child(2){background:url(../images/contents/bg_main_recruit_info03.png) no-repeat 0 0;background-size:cover;height:250px;}
.recruit_info_box .cont .box{display:block;width:100%;height:100%;position:relative;}
.recruit_info_box .cont .box .txt_area{display:block;padding:50px;height:100%;}
.recruit_info_box .cont .box .txt_area .tit{display:block;padding-bottom:5px;position:relative;color:#fff;}
.recruit_info_box .cont .box .txt_area .tit:after{content:'';display:block;position:absolute;left:0;bottom:0;width:60px;height:2px;background:#fff;}
.recruit_info_box .cont .box .txt_area .txt{color:#fff;position:relative;position:absolute;bottom:50px;left:50px;}
.recruit_info_box .cont .info_l .box .txt_area{width:585px;position:absolute;right:0;}

.recruit_challenge_box{position:relative;height:440px;margin:100px 0;}
.recruit_challenge_box .cont{overflow:hidden;max-width:1545px;width:100%;height:440px;position:absolute;right:0;transition:all .3s;}
.recruit_challenge_box .info_box{width:370px;border-top:3px solid #ed174d;border-bottom:1px solid #d8d8d8;height:440px;float:left;margin-right:100px;transition:all .3s;}
.recruit_challenge_box .info_box .txt{font-size:40px;margin-top:50px;padding:0 50px;}
.recruit_challenge_box .info_box .bot{position:absolute;bottom:150px;}
.recruit_challenge_box .info_box .company{font-size:16px;padding:0 50px;display:block;}
.recruit_challenge_box .info_box .name{font-size:24px;padding:0 50px;display:block;}
.recruit_challenge_box .info_box .fraction{position:absolute;bottom:50px;left:50px;}
.recruit_challenge_box .info_box .fraction{color:#888;font-size:14px;letter-spacing:0;}
.recruit_challenge_box .info_box .fraction .count{font-size:26px;color:#ed174d;font-weight:bold;display:inline-block;padding:0 5px;min-width:28px;text-align:center;vertical-align:middle;}
.recruit_challenge_box .info_box .fraction .num{font-size:14px;color:#000;display:inline-block;padding:0 5px;vertical-align:middle;}
.recruit_challenge_box .info_box .fraction .btn_prev,.recruit_challenge_box .info_box .fraction .btn_next{font-size:0;color:transparent;vertical-align:middle;}
.recruit_challenge_box .info_box .fraction .btn_prev{display:inline-block;width:21px;height:12px;background:url(../images/contents/btn_recruit_prev.png) no-repeat 0 0;margin-right:5px;}
.recruit_challenge_box .info_box .fraction .btn_next{display:inline-block;width:21px;height:12px;background:url(../images/contents/btn_recruit_next.png) no-repeat 0 0;margin-left:5px;}
.swiper_box{float:left;width:-webkit-calc(100% - 470px);width:calc(100% - 470px);}
.challengeSlider .swiper-wrapper{margin-left:-180px;}
@media screen and (max-width:1500px){
    .challengeSlider .swiper-wrapper{margin-left:0;}
}
.challengeSlider .swiper-slide{width:700px ;background:rgba(0,0,0,0.2);position:relative;transition:all .3s;}
.challengeSlider .swiper-slide.swiper-slide-active{background:#fef4f6;transition:all .3s;}
.challengeSlider .swiper-slide.swiper-slide-active .profile .img{background:transparent;}
.challengeSlider .swiper-slide.swiper-slide-active .profile .img img{opacity:1;}
.challengeSlider .swiper-slide .info{display:none;}
.challengeSlider .swiper-slide .profile{width:700px;height:440px;position:relative;}
.challengeSlider .swiper-slide .profile .img{width:330px;height:440px;float:left;background:#000;}
.challengeSlider .swiper-slide .profile .img img{width:100%;height:100%;opacity:0.8;}
.challengeSlider .swiper-slide .profile .txt_area{float:left;width:370px;}
.challengeSlider .swiper-slide .profile .txt_area .txt{padding:110px 50px 0;color:#666;line-height:26px;font-size:16px;overflow:hidden;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:7;-webkit-box-orient:vertical;}
.challengeSlider .swiper-slide .profile .txt_area .btn{padding:0 50px;margin-top:30px;}
.challengeSlider .swiper-slide .profile .txt_area .btn .btn_more{text-align:center;display:inline-block;width:100px;height:40px;line-height:40px;border:1px solid #cbc3c5;}
.challengeSlider .swiper-slide .profile .txt_area .btn .btn_more span{display:inline-block;padding-right:10px;position:relative;}
.challengeSlider .swiper-slide .profile .txt_area .btn .btn_more span:after{content:'';display:inline-block;width:5px;height:8px;background:url(../images/contents/ico_more.png) no-repeat 0 0;position:absolute;right:0;top:50%;margin-top:-4px;}

.cv_location_box{background:#f7f7f7;margin-bottom:150px;}
.cv_location_box .cont{position:relative;width:100%;max-width:1170px;margin:0 auto;padding:120px 0;}
.cv_location_box .cont .loc_tit{font-size:30px;text-align:center;}
.cv_location_box .cv_list{width:500px;margin-top:90px;}
.cv_location_box .cv_list li{border-top:1px solid #dcdcdc;cursor:pointer;}
.cv_location_box .cv_list li:last-child{border-bottom:1px solid #dcdcdc;}
.cv_location_box .cv_list li .box{position:relative;padding:30px;}
.cv_location_box .cv_list li .tit{font-size:22px;font-weight:bold;display:inline-block;width:165px;}
.cv_location_box .cv_list li .address{font-size:16px;color:#666;}
.cv_location_box .cv_list li .box:before{content:'';display:block;width:33px;height:7px;background:url(../images/contents/ico_arrow_off.png) no-repeat 0 0;position:absolute;right:50px;top:50%;margin-top:-3px;}
.cv_location_box .cv_list li.on{border-top:1px solid #000;}
.cv_location_box .cv_list li:last-child.on{border-bottom:1px solid #000;}
.cv_location_box .cv_list li.on + li{border-top:1px solid #000;}
.cv_location_box .cv_list li.on .tit{color:#ed174d;}
.cv_location_box .cv_list li.on .box:before{background:url(../images/contents/ico_arrow_on.png) no-repeat 0 0;}
.cv_location_box .map_list{position:absolute;right:0;bottom:0;width:582px;height:884px;background:url(../images/contents/bg_map.png) no-repeat 0 0;}
.cv_location_box .map_list li{position:absolute;width:85px;height:85px;border-radius:50%;text-align:center;background:rgba(149,149,149,0.7);background-size:100%;}
.cv_location_box .map_list li span{color:#fff;position:absolute;left:0;width:100%;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);opacity:1;line-height:20px;}
.cv_location_box .map_list li.on{background:rgba(237,23,77,0.7);background-blend-mode:multiply;background-size:100%;}
.cv_location_box .map_list li:nth-child(1){top:156px;left:180px;}
.cv_location_box .map_list li:nth-child(2){bottom:350px;right:123px;}
.cv_location_box .map_list li:nth-child(3){top:200px;right:120px;}
.cv_location_box .map_list li:nth-child(4){bottom:300px;left:130px;}
.cv_location_box .map_list li:nth-child(5){bottom:200px;right:90px;}
.cv_location_box .map_list li:nth-child(6){bottom:300px;right:30px;}
.cv_location_box .btn_loc{position:absolute;width:120px;height:120px;display:inline-block;bottom:0;right:0;background:#ed174d;}
.cv_location_box .btn_loc span{position:absolute;width:100%;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:100%;text-align:center;color:#fff;}
.cv_location_box .btn_loc span:after{content:'';display:block;background:url(../images/contents/ico_arrow_w.png) no-repeat 0 0;width:33px;height:7px;margin:5px auto 0;}