@font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 400;
     src: url(./font/NotoSansKR-Regular.woff2) format('woff2'),
          url(./font/NotoSansKR-Regular.woff) format('woff'),
          url(./font/NotoSansKR-Regular.otf) format('opentype');
  } 
    

 @font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(./font/NotoSansKR-Medium.woff2) format('woff2'),
        url(./font/NotoSansKR-Medium.woff) format('woff'),
        url(./font/NotoSansKR-Medium.otf) format('opentype');
} 
  
@font-face {
   font-family: 'Noto Sans KR';
   font-style: bold;
   font-weight: 700;
   src: url(./font/NotoSansKR-Bold.woff2) format('woff2'),
        url(./font/NotoSansKR-Bold.woff) format('woff'),
        url(./font/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: url(./font/Montserrat-Medium.woff) format('woff'),
        url(./font/Montserrat-Medium.ttf) format('truetype');
   unicode-range:U+0030-0039;
}
@font-face {
        font-family: 'Montserrat';
        font-style: bold;
        font-weight: 700;
        src: url(./font/Montserrat-Bold.woff) format('woff'),
             url(./font/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
        font-family: 'SourceHanSerifK';
        font-style: bold;
        font-weight: 500;
        src: url(./font/SourceHanSerifKR-Regular.otf) format('opentype');
}