

/* common */
.guide_wrap{padding: 10px;}
.guide_wrap > div{margin-top: 10px;}

/* input */
input{display:inline-block;width:100%;height:60px;border: 1px solid #c7c7c7;background: #fff;padding:0 15px;line-height:40px;box-sizing:border-box;outline:none;}

/* select */
select {width:100%;height:40px;padding:0px 40px 0px 15px;border: 1px solid #A6B9D6;background:#fff url(../../../images/site/kor/inc/selectbar_arrow_nomal.png) right 8px center no-repeat;appearance:none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;box-sizing:border-box;outline:none;}
select::-ms-expand {display:none;}
select:hover{background-image:url(../../../images/site/kor/inc/selectbar_arrow_hover.png);border: 1px solid #4776EA;}
select:focus{background-image:url(../../../images/site/kor/inc/selectbar_arrow_click.png);border: 1px solid #576170;}

/* textarea */
textarea{display:inline-block;width:100%;height:100%;border:1px solid #A6B9D6;background: #fff;padding:10px 15px;box-sizing:border-box;outline:none;}
textarea:hover{border: 1px solid #4776EA;}
textarea:focus{border: 1px solid #576170;}

/* checkbox */
.style_chk1{margin-right:20px;}
.style_chk1:last-of-type{margin-right:0;}
.style_chk1 input[type="checkbox"]{display:none;box-sizing:border-box;}
.style_chk1 label{position:relative;display:inline-block;padding-left:30px;font-size:15px;margin-right:10px;box-sizing:border-box;}
.style_chk1 input[type="checkbox"] + label:before{content:'';position:absolute;top:50%;left:0;margin-top:-12px;width:24px;height:24px;display:inline-block;background:url(../../../images/site/kor/inc/checkbox_nomal.png) center center no-repeat;}
.style_chk1 input[type="checkbox"]:hover + label:before{background-image:url(../../../images/site/kor/inc/checkbox_hover.png);}
.style_chk1 input[type="checkbox"]:checked + label:before{background-image:url(/images/contents/checkbox1_click.png);}

.style_chk2{margin-right:20px;}
.style_chk2:last-of-type{margin-right:0;}
.style_chk2 input[type="checkbox"]{display:none;box-sizing:border-box;}
.style_chk2 label{position:relative;display:inline-block;padding-left:30px;font-size:15px;margin-right:10px;box-sizing:border-box;}
.style_chk2 input[type="checkbox"] + label:before{content:'';position:absolute;top:50%;left:0;margin-top:-12px;width:24px;height:24px;display:inline-block;background:url(../../../images/site/kor/inc/checkbox_nomal.png) center center no-repeat;}
.style_chk2 input[type="checkbox"]:hover + label:before{background-image:url(../../../images/site/kor/inc/checkbox_hover.png);}
.style_chk2 input[type="checkbox"]:checked + label:before{background-image:url(/images/contents/checkbox2_click.png);}

.style_chk3{margin-right:20px;}
.style_chk3:last-of-type{margin-right:0;}
.style_chk3 input[type="checkbox"]{display:none;box-sizing:border-box;}
.style_chk3 label{position:relative;display:inline-block;padding-left:30px;font-size:15px;margin-right:10px;box-sizing:border-box;}
.style_chk3 input[type="checkbox"] + label:before{content:'';position:absolute;top:50%;left:0;margin-top:-12px;width:24px;height:24px;display:inline-block;background:url(../../../images/site/kor/inc/checkbox_nomal.png) center center no-repeat;}
.style_chk3 input[type="checkbox"]:hover + label:before{background-image:url(../../../images/site/kor/inc/checkbox_hover.png);}
.style_chk3 input[type="checkbox"]:checked + label:before{background-image:url(/images/contents/checkbox_click.png);}

.check_point{text-align: center;border-top: 1px solid #bababd;margin-top: 30px;padding-top: 15px;}
.check_point label{font-size: 18px;line-height: 30px;font-weight: 500;}

/* radio */
.style_rdo{margin-right:20px;}
.style_rdo:last-of-type{margin-right:0;}
.style_rdo input[type="radio"]{display:none;box-sizing:border-box;}
.style_rdo label{position:relative;display:inline-block;padding-left:30px;font-size:15px;margin-right:10px;box-sizing:border-box;}
.style_rdo input[type="radio"] + label:before{content:'';position:absolute;top:50%;left:0;margin-top:-12px;width:24px;height:24px;display:inline-block;background:url(../../../images/site/kor/inc/radio_nomal.png) center center no-repeat;}
.style_rdo input[type="radio"]:hover + label:before{background-image:url(../../../images/site/kor/inc/radio_hover.png);}
.style_rdo input[type="radio"]:checked + label:before{background-image:url(../../../images/site/kor/inc/radio_click.png);}

/* button */
button{display:inline-block;cursor: pointer;outline:none;border:none;box-sizing:border-box;vertical-align: middle;}
button span{display:block;}
.button{height:60px;border-radius: 1px;padding: 0 0px;}
.button span{font-size: 18px;}
.btn_type01{background:#ed174d;border: 1px solid #ed174d;}
.btn_type01 span{color:#fff}
.btn_type02{background:#fff;border: 1px solid #ed174d;}
.btn_type02 span{color:#ed174d}
.btn_area_100p{display:flex;margin-top: 20px;}
.btn_area_100p button{flex:1; margin-left: 10px;}
.btn_area_100p button:first-of-type{margin-left: 0;}

.btn_toggle button{margin-left: 0;background: #fff;border: 1px solid #c7c7c7;}
.btn_toggle button span{font-weight: 500;font-size: 18px;line-height: 30px;}
.btn_toggle button.on{background: #4a4c57;border: 1px solid #4a4c57;}
.btn_toggle button.on span{color: #fff;}

/* tab_wrap */
.tab_wrap{width:100%;margin: 0 auto;}
.tab_wrap .tab_navi{display: flex;}
.tab_wrap .tab_navi li{position:relative;flex: 1;text-align: center;font-size: 18px;padding-bottom: 20px;border-bottom:1px solid #4a4c58;}
.tab_wrap .tab_navi li a{display: block;line-height:normal;}
.tab_wrap .tab_navi li:hover,
.tab_wrap .tab_navi li.on{border-bottom:1px solid #ed174d;}
.tab_wrap .tab_navi li:hover a,
.tab_wrap .tab_navi li.on a{color: #ed174d;font-weight: 700;}
.tab_wrap .tab_navi li:hover:before,
.tab_wrap .tab_navi li.on:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:3px;display:inline-block;background: #ed174d;}

/* form_wrap */
.form_wrap{margin: 0 auto;}
.form_wrap li{margin-top: 30px;}
.form_wrap li:first-of-type{margin-top: 0;}
.form_wrap .input{display:block;margin-top: 20px;}
.form_wrap .input:first-of-type{margin-top: 0;}
.form_wrap .input label{display:block;font-size: 16px;line-height: 30px;font-weight: 500;}
.form_wrap .input label + input{margin-top: 10px;}
.form_wrap .pw_info{font-size: 14px; line-height: 30px;color: #a3abc4;}
/* col2 */
.form_wrap.col2{overflow: hidden;}
.form_wrap.col2 .input{border-bottom: 1px solid #e9e9eb;padding-bottom: 20px;}
.form_wrap.col2 .input:last-of-type{border-bottom: none;padding-bottom: 0;}
.form_wrap.col2 .input:nth-child(2){margin-top: 0;}
.form_wrap.col2 .input:nth-child(odd){float: left;width: 50%;padding-right: 30px;}
.form_wrap.col2 .input:nth-child(even){float: right;width: 50%;padding-left: 30px;}
.form_wrap.col2 > div{float: left;width: 100%;}

/* mypage_wrap */
.mypage_wrap{padding: 80px 0 200px 0;background: #f8f8fc;}
.mypage_wrap .tab_wrap{width:1170px;}
.mypage_wrap .tab_content{padding: 60px 0 0 0;}
.mypage_wrap .tab_content .cont_tit{font-size: 24px;line-height: 36px;text-align: center;}
.mypage_wrap .tab_content .form_wrap{width: 320px;padding: 60px 0 0 0;}
.mypage_wrap .tab_content .btn_toggle{margin-top: 10px;}
.mypage_wrap .tab_content .form_wrap.col2{width: 700px;}
.mypage_wrap .tab_content .form_wrap.col2 .btn_area{text-align: center;margin-top: 70px;}
.mypage_wrap .tab_content .form_wrap.col2 .btn_area .button{width: 320px;}
.mypage_wrap .tab_content .form_wrap.col2 .txt_link{margin-top: 15px;}
.mypage_wrap .tab_content .form_wrap.col2 .txt_link a{position:relative;display:inline-block;font-size: 16px;line-height: 30px;color: #ed174d;margin-left: 15px;padding-left: 15px;}
.mypage_wrap .tab_content .form_wrap.col2 .txt_link a:first-of-type{margin-left: 0;padding-left: 0;}
.mypage_wrap .tab_content .form_wrap.col2 .txt_link a:before{content:'';position:absolute;top:50%;left:0;width:1px;height:10px;display:inline-block;background: #c6c6ca;margin-top: -5px;}

/* join */
.join_wrap{padding: 80px 0 200px 0;background: #f8f8fc;}
.join_wrap .tit{font-size: 24px;line-height: 36px;font-weight: 700;text-align: center;}
.join_wrap .tab_wrap{width: 420px;margin-top: 40px;}
.join_wrap .tab_content .form_wrap{margin-top: 30px;}
.join_wrap .tab_content .form_wrap .btn_input{margin-top: 10px;}
.join_wrap .tab_content .form_wrap .btn_input .input{flex:auto;}
.join_wrap .tab_content .form_wrap .btn_input input{border-right: none;}
.join_wrap .tab_content .form_wrap .btn_input button{background: #6b6b6b;border: 1px solid #6b6b6b;flex:auto;}
.join_wrap .tab_content .form_wrap .btn_input button span{color: #fff;font-size: 16px;font-weight: 500;}
.join_wrap .tab_content .btn_toggle{margin-top: 10px;}
.join_wrap .tab_content .form_wrap + .btn_area_100p{margin-top: 70px;}
.join_wrap .tab_content .welcome_msg{padding: 130px 0 150px;text-align: center;}
.join_wrap .tab_content .welcome_msg .tit{font-size: 46px;font-weight: 400;}
.join_wrap .tab_content .welcome_msg .txt1{font-size: 24px;font-weight: 400;margin-top: 50px;}
.join_wrap .tab_content .welcome_msg .txt2{font-size: 22px;font-weight: 700;margin-top: 30px;}
.join_wrap .tab_content .welcome_msg + .btn_area_100p{margin-top: 0;}

/* term */
.term_area{margin-top: 30px;}
.term_area .tit{position:relative;font-size: 15px;line-height: 30px;text-align-last: left;}
.term_area .tit.essen:before{content:'*';display:inline-block;font-size:15px;color: #ed174d;margin-right: 5px;}
.term_area .cont{height:140px;border: 1px solid #c7c7c7;background: #fff;margin-top: 15px;}
.term_area .style_chk1{display:block;text-align: right;margin-top: 5px;}
.style_chk1 label{color: #ed174d;}

/* login */
.login_wrap{padding: 80px 0 200px 0;background: #f8f8fc;}
.login_wrap .tit{font-size: 24px;line-height: 36px;font-weight: 700;text-align: center;}
.login_wrap .form_wrap{width:420px;margin-top: 70px;}
.login_wrap .btn_area_100p{margin-top: 50px;}
.login_wrap .forget{display: block;text-align: center;margin-top: 15px;font-size: 16px;line-height: 30px;font-weight: 400;color: #ed174d;}

/* password */
.password_wrap{padding: 80px 0 200px 0;background: #f8f8fc;}
.password_wrap .tit{font-size: 24px;line-height: 36px;font-weight: 700;text-align: center;}
.password_wrap .tab_wrap{width:420px;margin-top: 40px;}
.password_wrap .tab_content .form_wrap{margin-top: 30px;}
.password_wrap .tab_content .form_wrap + .btn_area_100p{margin-top: 50px;}
.password_wrap .password_noti{font-size: 18px;line-height: 32px;color: #ed174d;margin-top: 10px;text-align: center;}

.modal_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index: 10000;}
.modal_wrap .dimed{position:absolute;top:0;left:0;width:100%;height:100%;background: #000;opacity: .6;z-index: 100;}
.modal_wrap .modal_area{position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);width:500px;border-radius: 10px;overflow: hidden;z-index: 200;}
.modal_wrap .modal_area .tit_area{height:80px;background: #ed174d;padding: 0 0 0 30px;}
.modal_wrap .modal_area .tit_area span{font-size: 20px;line-height: 80px;color: #fff;font-weight: 500;}
.modal_wrap .modal_area .tit_area .btn_close{float: right;width: 80px;height: 80px;background:url(/images/contents/ico_modal_close.png) center center no-repeat;}
.modal_wrap .modal_area .tit_area .btn_close span{text-indent: -9999px;font-size: 0;}
.modal_wrap .modal_area .cont_area{padding:60px 80px;background: #fff;text-align: center;}
.modal_wrap .modal_area .cont_area .tit{font-size: 26px;line-height: 36px;font-weight: 500;}
.modal_wrap .modal_area .cont_area .txt{font-size: 18px;line-height: 26px;font-weight: 500;color: #666;margin-top: 40px;}
.modal_wrap .modal_area .cont_area .imp_noti{font-size: 16px;line-height: 30px;font-weight: 500;color: #ed174d;margin-top: 20px;}
.modal_wrap .modal_area .cont_area .btn_area{text-align: center;margin-top: 40px;}
.modal_wrap .modal_area .cont_area .btn_area .button{height:40px;padding: 0 45px;border-radius: 3px;margin-left: 10px;}
.modal_wrap .modal_area .cont_area .btn_area .button:first-of-type{margin-left: 0;}
.modal_wrap .modal_area .cont_area .btn_area .button span{font-size: 16px;}
.modal_wrap .modal_area .cont_area .form_wrap{text-align: left;}