
.wrap{width:100%;overflow:hidden;min-width:1170px;}
/* HEAD */
.header {height:90px;border-bottom:1px solid #cfcfcf;position:absolute;width:100%;min-width:1170px;z-index:999;}
.mb_menu{position:absolute;width:100%;height:90px;}
.header .header_wrap{max-width:1170px;width:100%;margin:0 auto;height:90px;position:relative;}
.header .logo{position:absolute;top:50%;margin-top:-15px;left:0;}
.header .logo a{display:block;width:253px;height:32px;background:url(../images/common/h_logo.png) no-repeat 0 0;font-size:0;color:transparent;}
.header .topmenu{position:absolute;top:50%;margin-top:-10px;right:155px;z-index:10;}
.header .topmenu > li{float:left;margin-left:70px;position:relative;}
.header .topmenu > li:first-child{margin-left:0;}
.header .topmenu > li > a {font-size:16px;color:#000;font-weight:bold;letter-spacing:0;}
.header .submenu{position:absolute;left:50%;margin-left:-250px;width:500px;text-align:center;top:70px;height:50px;}
.header .submenu > li{display:inline-block;position:relative;padding-left:10px;margin-left:10px;}
.header .submenu > li:first-child{padding-left:0;margin-left:0;}
.header .submenu > li:first-child:before{display:none;}
.header .submenu > li:before{content:'';position:absolute;display:block;width:1px;height:7px;background:#ababab;top:50%;margin-top:-3px;left:0;}
.header .submenu > li > a{letter-spacing:0;font-size:15px;}
.header .submenu > li > a:hover{color:#ed174d;}
.header .submenubox{width:100%;height:55px;z-index:2;top:90px;position:absolute;background:#fff;}
.header .mypage{position:absolute;top:50%;margin-top:-10px;right:0;z-index:100;}
.header .mypage .btn{display:inline-block;width:105px;height:32px;line-height:32px;text-align:center;background:#4a4c57;color:#fff;border-radius:3px;}
.header .mypage .cont{position:absolute;top:30px;padding-top:10px;left:-45px;z-index:10;width:200px;text-align:center;border-radius:0 0 10px 10px;overflow:hidden;}
.header .mypage .cont:before{content:'';display:block;width:14px;height:5px;background:url(../images/contents/bg_mypage.png) no-repeat 0 0;margin: 0 auto;}
.header .mypage .cont .txt{background:#ed174d;padding:15px 0;font-size:15px;color:#fff;border-radius:10px 10px 0 0;}
.header .mypage .cont .txt .user{color:#fff;}
.header .mypage .cont .box{background:#4a4c57;padding:30px 20px;font-size:15px;}
.header .mypage .cont .box .list > li{margin-top:10px;}
.header .mypage .cont .box .list > li:first-child{margin-top:0;}
.header .mypage .cont .box .list > li > a{color:#fff;font-size:18px;}
.header .mypage .cont .box a.btn_modify{display:block;font-size:18px;margin-top:10px;color:#fff;}
.header .mypage .cont .box a.btn_logout{color:#bfe10e;margin-top:20px;font-size:15px;border:1px solid #bfe10e;width:105px;height:30px;line-height:30px;text-align:center;display:inline-block;border-radius:15px;}
/* white version */
.header.white{border-bottom:0;}
.header.white .logo a{background:url(../images/common/h_logo_w.png) no-repeat 0 0;}
.header.white .topmenu > li > a{color:#fff;}
.header.white .mypage .btn{color:#000;background:#fff;}
.header.white .submenubox{background:transparent;}
.header.white .submenu > li > a{color:#fff;}
/* CONTENT */
.container{width:100%;padding-top:90px;}
.container .content{width:100%;}
.white_ver{margin-top:-90px;}

/* FOOT */
.footer .foot_loaction{background:#5c5c5c;padding:45px 0;}
.footer .foot_loaction .cont{width:100%;max-width:1170px;margin:0 auto;}
.footer .foot_loaction .loc_list{overflow:hidden;}
.footer .foot_loaction .loc_list li{float:left;margin-left:105px;}
.footer .foot_loaction .loc_list li:first-child{margin-left:0;}
.footer .foot_loaction .tit{display:inline-block;color:#c8c8c8;font-size:16px;padding:0px 11px 0 0;font-weight:bold;position:relative;}
.footer .foot_loaction .tit:after{content:'';display:block;width:5px;height:5px;border-radius:50%;background:#c8c8c8;top:0;right:0;position:absolute;}
.footer .foot_loaction .address{color:#999;font-size:14px;display:block;width:100px;margin-top:5px;}
.footer .foot_info{background:#333;padding:80px 0;}
.footer .foot_info .cont{width:100%;max-width:1170px;margin:0 auto;position:relative;}
.footer .foot_info .btn_agree_list{overflow:hidden;margin-top:40px;}
.footer .foot_info .btn_agree_list li{float:left;padding-left:8px;margin-left:8px;position:relative;}
.footer .foot_info .btn_agree_list li:first-child{margin-left:0;padding-left:0;}
.footer .foot_info .btn_agree_list li:first-child:before{display:none;}
.footer .foot_info .btn_agree_list li:before{content:'';height:8px;width:1px;background:#5c5c5c;position:absolute;top:50%;margin-top:-4px;left:0;}
.footer .foot_info .btn_agree_list li a{color:#fff;}
.footer .foot_info .copy{color:#fff;opacity:0.3;margin-top:5px;letter-spacing:0;font-size:13px;}
.footer .foot_info .foot_r{position:absolute;right:0;top:0;z-index:2;}
.footer .foot_info .foot_r:after{content:'';display:block;clear:both;}
.footer .foot_info .foot_r .menu_list{overflow:hidden;float:left;margin-top:5px;}
.footer .foot_info .foot_r .menu_list li{float:left;position:relative;margin-left:15px;padding-left:15px;}
.footer .foot_info .foot_r .menu_list li:first-child{padding-left:0;margin-left:0;}
.footer .foot_info .foot_r .menu_list li:before{content:'';display:inline-block;width:1px;height:11px;background:#434343;left:0;position:absolute;margin-top:-5px;top:50%;}
.footer .foot_info .foot_r .menu_list li:first-child:before{display:none;}
.footer .foot_info .foot_r .menu_list li a{color:#fff;}
.footer .foot_info .family_link{width:180px;float:right;margin-left:40px;position:relative;}
.footer .foot_info .family_link .btn{display:inline-block;width:100%;height:40px;border:1px solid #5c5c5c;text-align:center;text-align:center;box-sizing:border-box;}
.footer .foot_info .family_link .btn span{position:relative;padding-right:30px;color:#888;line-height:40px;font-size:14px;}
.footer .foot_info .family_link .btn span:after{content:'';display:inline-block;width:9px;height:5px;background:url(../images/contents/ico_select.png) no-repeat 0 0;position:absolute;right:0;top:50%;margin-top:-3px;}
.footer .foot_info .family_link .list{width:100%;border:1px solid #5c5c5c;padding:20px;border-top:0;z-index:10;position:absolute;top:39px;left:0;background:#333;display:none;}
.footer .foot_info .family_link .list li a{color:#888;font-size:14px;}