@media screen and (max-width:960px){
/* media */
.hp{display:none;}

.wrap{width:100%;}
/* title */
.big_title_area{height:260px;}
.big_title_area .tit{font-size:14px;}
.big_title_area .txt{font-size:20px;}
.big_title_area.sharetype{height:auto;}
.big_title_area.sharetype .cont{padding:30px 20px;transform:translateY(0);top:0;}
.big_title_area.sharetype .tit{font-size:24px;float:none;}
.big_title_area.sharetype .btn_list{float:none;width:100%;}
.big_title_area.sharetype .btn_list li{display:inline-block;float:none;}

.bg_small_title{padding:30px 20px;background-position:-100px 0;background-size:auto 100%;height:auto;}
.bg_small_title .tit{font-size:20px;width:100%;line-height:30px;position:relative;top:auto;left:auto;transform:translate(0,0);}

/* button */
.btn_wrap{margin:30px 20px 0;}
.btn_wrap > a{margin:0;width:100%;margin-top:10px;}
.btn_wrap .btn_l, .btn_wrap .btn_r{float:none;}
.btn_wrap .btn_l a{width:100%;margin-top:10px;font-size:14px;}
.btn_wrap .btn_r a{width:100%;margin-top:10px;font-size:14px;}
.btn_wrap .btn_r a span{font-size:14px;}
.btn_circle{position:relative;top:auto;right:auto;display:inline-block;width:100px;height:100px;background-size:100%;margin-bottom:30px;margin-left:5px;}
.btn_circle:first-of-type{margin-left:20px;}
.btn_circle span{font-size:14px;}
.btn_circle.type02{top:auto;}
.btn_wrap .btn_recruit{width:100%;}

/* text */
.p.txt_alert{font-size:14px;}

/* box */
.content_box{width:auto;margin:0 20px;}

/* form */
.form_wrap.col2 .input:nth-child(odd), .form_wrap.col2 .select:nth-child(odd),
.form_wrap.col2 .input:nth-child(even), .form_wrap.col2 .select:nth-child(even){float:none;padding:0;border:0;width:100%;overflow:hidden;}
.form_wrap .w_100p label, .form_wrap .input label, .form_wrap .select label{font-size:14px;}
.form_wrap .input label + input, .form_wrap .select label + select{margin-top:5px;}
.form_wrap.col2 .w_100p .second .left{padding-right:10px;}
.form_wrap.col2 .w_100p .second .right{padding-left:10px;}
.form_wrap.col2 .w_100p .second .left.cal_area{width:100%;float:none;position:relative;overflow:hidden;padding:0;}
.form_wrap.col2 .w_100p .second .left.cal,
.form_wrap.col2 .w_100p .second .right.cal{width:100%;float:none;padding:0;overflow:hidden;}
.form_wrap.col2 .w_100p .second .right.cal{margin-top:30px;}
.form_wrap.col2 .w_100p .cal_area.cal2:before{left:50%;}

/* input */
.check_point label{font-size:14px;}
.style_chk3 label{font-size:14px;}


/* Main */
.mainSlider .swiper-slide{height:350px;}
.mainSlider .swiper-button-prev,.mainSlider .swiper-button-next{display:none;}
.mainSlider .swiper-slide .cont{top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.mainSlider .swiper-slide .cont .tit{font-size:22px;line-height:30px;}
.mainSlider .swiper-slide .cont .txt{font-size:13px;letter-spacing:0;margin-top:15px;}
.recruit_count_box{height:120px;}
.recruit_count_box:before{height:100%;margin-left:0;width:150px;left:-90px;background:#b5e300 url(../images/contents/bg_mb_count_box.png) no-repeat center right;background-size:auto 100%;}
.recruit_count_box .cont .txt{position:relative;text-align:center;font-size:12px;line-height:16px;top:0;-webkit-transform:translateY(0);transform:translateY(0);margin-top:10px;}
.recruit_count_box .scrollbox{padding-right:60px;overflow-x:auto;margin-left:50px;position:relative;}
.recruit_count_box .scrollbox:before{content:'';background:#ed174d;z-index:2;display:block;width:30px;height:100%;position:absolute;top:0;right:40px;-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter: blur(5px);-ms-filter: blur(5px);filter: blur(5px);}
.recruit_count_box .scrollbox:after{content:'';z-index:3;display:block;width:21px;height:23px;background:url(../images/contents/ico_scroll.png) no-repeat 0 0;background-size:100%;position:absolute;right:20px;top:50%;margin-top:-10px;}
.recruit_count_box .scrollbox::-webkit-scrollbar{height:0;background:transparent;display:none;}
.recruit_count_box .scrollbox::-webkit-scrollbar-thumb{height:0;background:transparent;display:none;}
.recruit_count_box .cont .count_list{white-space:nowrap;margin-top:10px;position:relative;overflow:auto;}
.recruit_count_box .cont .count_list li{width:60px;float:none;display:inline-block;padding:0;vertical-align:top;}
.recruit_count_box .cont .count_list li:nth-child(6){width:80px;}
.recruit_count_box .cont .count_list li .tit{font-size:12px;}
.recruit_count_box .cont .count_list li .tit:after{width:3px;height:3px;margin:3px auto 0;}
.recruit_count_box .cont .count_list li .num{font-size:17px;}
.recruit_list_box .cont{padding:40px 20px;}
.recruit_list_box .cont .recruit_list li{float:none;width:100%;}
.recruit_list_box .recruit_list .box{height:200px;margin-top:10px;}
.recruit_list_box .recruit_list .box .top{padding:20px 20px 0;}
.recruit_list_box .recruit_list .box .loc{width:56px;font-size:12px;height:20px;line-height:20px;}
.recruit_list_box .recruit_list .box .tit_area{padding:10px 20px 0;}
.recruit_list_box .recruit_list .box .tit_area .opt{font-size:14px;}
.recruit_list_box .recruit_list .box .tit_area .tit{font-size:18px;}
.recruit_list_box .recruit_list .box .day{right:25px;}
.recruit_list_box .recruit_list .box .day.today:after{height:8px;bottom:0;}
.recruit_list_box .recruit_list .box .day .num{font-size:12px;}
.recruit_list_box .recruit_list .box .info_area{height:45px;}
.recruit_list_box .recruit_list .box .info_area .date{top:12px;left:20px;font-size:13px;}
.recruit_list_box .recruit_list .box .info_area .hire{top:12px;right:20px;font-size:13px;}
.recruit_list_box .recruit_list li:last-child .box{background:#f8f8f8;border:none;}
.recruit_list_box .regular_register{padding:30px 0 0;}
.recruit_list_box .regular_register .tit{font-size:18px;}
.recruit_list_box .regular_register .tit:before{width:31px;height:31px;background-size:100%;}
.recruit_list_box .regular_register .txt{font-size:13px;letter-spacing:0;}
.recruit_list_box .regular_register .btn{width:90px;height:27px;font-size:10px;line-height:27px;margin-top:20px;}
.recruit_list_box .regular_register .btn span{font-size:13px;padding-right:15px;}
.recruit_list_box .regular_register .btn span:after{width:5px;height:10px;background-size:100%;margin-top:-5px;}
.recruit_list_box .btn_area .btn_more{font-size:14px;}
.recruit_list_box .btn_area .btn_more:after{width:25px;height:13px;background-size:100%;}
.recruit_info_box .cont .info_l,.recruit_info_box .cont .info_r{float:none;width:100%;}
.recruit_info_box .cont .info_l .box,
.recruit_info_box .cont .info_r .box:nth-child(1),
.recruit_info_box .cont .info_r .box:nth-child(2){height:200px;}
.recruit_info_box .cont .info_l .box .txt_area,
.recruit_info_box .cont .box .txt_area{position:relative;width:100%;padding:20px;}
.recruit_info_box .cont .box .txt_area .txt{bottom:20px;left:20px;width:100%;font-size:13px;}
.recruit_challenge_box{height:auto;margin:40px 0;}
.recruit_challenge_box .cont{height:auto;position:relative;}
.recruit_challenge_box .swiper_box{width:100%;float:none;}
.challengeSliderMb{position:relative;border-top:3px solid #ed174d;margin:0 20px;padding-bottom:40px;padding-right:0;}
.challengeSliderMb:after{content:'';display:block;width:100%;height:1px;background:#d8d8d8;bottom:0;}
.challengeSliderMb .swiper-slide{padding-bottom:20px;}
.challengeSliderMb .swiper-slide .info{display:block;text-align:center;padding:20px 0;}
.challengeSliderMb .swiper-slide .info .txt{font-size:20px;}
.challengeSliderMb .swiper-slide .info .company{font-size:11px;display:block;position:absolute;top:70px;left:40%;margin-left:20px;}
.challengeSliderMb .swiper-slide .info .name{font-size:14px;display:block;position:absolute;top:87px;left:40%;margin-left:20px;}
.challengeSliderMb .swiper-slide .profile{width:100%;}
.challengeSliderMb .swiper-slide .profile .img{width:40%;height:auto;background:none;float:left;}
.challengeSliderMb .swiper-slide .profile .img img{width:100%;height:auto;opacity:1;}
.challengeSliderMb .swiper-slide .profile{height:auto;}
.challengeSliderMb .swiper-slide .profile .txt_area{width:calc(100% - 40%);float:right;}
.challengeSliderMb .swiper-slide .profile .txt_area .company,
.challengeSliderMb .swiper-slide .profile .txt_area .name{display:block;margin-left:20px;}
.challengeSliderMb .swiper-slide .profile .txt_area .txt{font-size:12px;margin-left:20px;margin-top:10px;line-height:20px;}
.challengeSliderMb .swiper-slide .profile .txt_area .btn{margin-top:10px;margin-left:20px;}
.challengeSliderMb .swiper-slide .profile .txt_area .btn .btn_more{text-align:center;display:inline-block;width:60px;height:30px;line-height:26px;border:1px solid #cbc3c5;}
.challengeSliderMb .swiper-slide .profile .txt_area .btn .btn_more span{display:inline-block;padding-right:10px;position:relative;font-size:11px;}
.challengeSliderMb .swiper-slide .profile .txt_area .btn .btn_more span:after{content:'';display:inline-block;width:5px;height:8px;background:url(../images/contents/ico_more.png) no-repeat 0 0;position:absolute;right:0;top:50%;margin-top:-4px;}

.challengeSliderMb .swiper-pagination .swiper-pagination-bullet{background:#9d9d9d;opacity:1;width:6px;height:6px;margin:0 2px;}
.challengeSliderMb .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#ed174d;}

.cv_location_box{margin-bottom:100px;}
.cv_location_box .cont{padding:50px 20px;}
.cv_location_box .cont .loc_tit{font-size:20px;}
.cv_location_box .cv_list{width:70%;margin-top:30px;position:relative;z-index:2;}
.cv_location_box .cv_list li .box{padding:12px;}
.cv_location_box .cv_list li .tit{font-size:14px;display:block;}
.cv_location_box .cv_list li .address{font-size:13px;}
.cv_location_box .map_list{width:70%;height:100%;background-size:100% auto;z-index:0;right:-70px;opacity:0.5;}
.cv_location_box .map_list li{display:none;}
.cv_location_box .cv_list li .box:before{width:15px;height:5px;right:0;background-position:center right;background-size:auto 100%;opacity:0.5;}
.cv_location_box .btn_loc{width:100px;height:100px;z-index:5;bottom:-50px;}
.cv_location_box .btn_loc span{font-size:13px;}
.cv_location_box .btn_loc span:after{height:5px;background-size:auto 100%;background-position:center;}

.recruit_wrap .content_box{padding:40px 0 100px;}
.recruit_l, .recruit_r{width:auto;float:none;}
.recruit_r{margin-top:40px;}
.recruit_search_box .cont{padding:30px 30px 0;}
.recruit_search_box .cont .tit{margin-bottom:20px;font-size:16px;}
.recruit_search_box .cont .tit strong{font-size:20px;}
.recruit_search_box .sel_box{width:33.33%;float:left;margin-bottom:10px;}
.recruit_search_box .sel_box select{font-size:14px;padding-right:30px;background-size:10px auto;}
.recruit_search_box .sel_box:after{width:10px;height:5px;background-size:100%;right:20px;}
.recruit_search_box .inp_box{clear:both;}
.recruit_search_box .inp_box input{font-size:14px;}
.recruit_search_box .btn_search{width:40px;height:40px;background-size:100%;margin:10px auto;}
.recruit_search_box .btn_clear{font-size:14px;height:50px;}

.recruit_list_box.widetype .recruit_list .box .top .social{top:20px;right:20px;}
.recruit_list_box.widetype .recruit_list .box .top .social .btn_share{width:24px;height:24px;background-size:13px auto;}
.recruit_list_box.widetype .recruit_list .box .top .social .btn_bookmark{width:24px;height:24px;background-size:12px auto;}
.recruit_list_box.widetype .recruit_list .box .top .social .btn_bookmark.on{background-size:12px auto;}
.recruit_list_box.widetype .recruit_list .box .top .social li .sel.on{width:230px;height:24px;}
.recruit_list_box.widetype .recruit_list .box .top .social li{height:24px;}
.recruit_list_box.widetype .recruit_list .box .top .social li .sel a{height:24px;}
.recruit_list_box.widetype .recruit_list .last{padding:40px 0;}
.recruit_list_box.widetype .recruit_list .last .tit{font-size:16px;}
.recruit_list_box.widetype .recruit_list .last .txt{font-size:18px;}

.recruit_view_box .info_list dt{float:none;padding:20px 0;font-size:22px;}
.recruit_view_box .info_list dd{float:none;width:100%;padding:0;padding-bottom:25px;}
.recruit_view_box .info_list dd .info_cont > li:first-child{margin-top:0;}
.recruit_view_box .info_list dd .info_cont > li{margin-top:10px;}
.recruit_view_box .info_list dd .info_cont > li .tit{width:100px;font-size:14px;padding-right:20px;}
.recruit_view_box .info_list dd .info_cont > li .txt_box{width:calc(100% - 100px);font-size:14px;}
.recruit_view_box .info_list dd .info_cont > li .list li{font-size:14px;margin-top:10px;}
.recruit_view_box .info_list dd .info_cont > li .list li:before{top:8px;}
.recruit_view_box .info_list dd .info_cont > li .box{padding:20px 0;}

.recruit_view_box .info_list dd .view_box{padding:20px 30px;margin-left:20px;}
.recruit_view_box .info_list dd .view_box .txt{font-size:13px;display:block;}
.recruit_view_box .info_list dd .view_box .circle{font-size:14px;width:40px;height:40px;line-height:40px;left:-20px;}
.recruit_view_box .info_list dd .view_box .btn{position:relative;padding:10px 0;top:auto;right:auto;margin-top:20px;width:100%;text-align:center;}
.recruit_view_box .info_list dd .view_box .btn span{font-size:14px;}
.recruit_view_box .info_list dd .view_box .txt strong{font-size:15px;}
.recruit_view_box .info_list dd .loc_txt{font-size:14px;}

.write_wrap .write_area{width:auto;padding:30px 20px;margin:0 20px;}
.write_wrap .loc{width:66px;font-size:12px;height:30px;line-height:30px;}
.write_wrap .btn_area .btn_light_green span{font-size:12px;}
.write_wrap .form_wrap dt{width:100%;float:none;padding:20px 0;font-size:22px;}
.write_wrap .form_wrap dd{width:100%;float:none;padding:0 0 50px 0;}
.write_wrap .form_wrap .input:nth-child(odd).salary:before{right:20px;}
.write_wrap .form_wrap.col2 .w_100p .second .img_box.left + .left{padding-left:20px;}
.write_wrap .form_wrap.col2 .w_100p .second .img_box.left + .left .btn_area{margin-top:0;}


.last_recruit_box .gray_box{padding:30px 0 15px;}
.last_recruit_box .title_area{margin:0 30px;}
.last_recruit_box .title_area .tit{font-size:14px;}
.last_recruit_box .title_area .txt{font-size:16px;}
.last_recruit_box .check_point{margin:0 30px;}
.last_recruit_box .pink_box{padding:20px 0;}

.applicants_wrap dt{padding:20px 0;width:40%;}
.applicants_wrap dd{padding:20px 0;width:calc(100% - 40%);}

}