@media screen and (max-width:720px){
/* common */
.mobile{display:block !important;}
.web{display:none !important;}
.wrap{min-width:100%;height:100%;}
.br{display:block;}
/* header */
.header{height:74px;position:relative;padding:0;}
.header .menu{position:absolute;left:29px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:1;}
.header .menu .btn_menu{position:relative;font-size:0;color:transparent;width:20px;height:16px;display:inline-block;background:url(../images/contents/ico_menu.png) no-repeat;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.header .menu .btn_menu.close:before{content:'';display:inline-block;background:#003763 url(../images/contents/ico_menu_x.png) no-repeat center;width:48px;height:48px;position:absolute;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);top:50%;left:50%;border-radius:50%;}
.header .gnb{margin-right:0;}
.header .logo{float:auto;width:212px;position:absolute;left:0;right:0;margin:0 auto;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:0;}
.header .logo a img{width:100%;}
.header .gnb{float:auto;position:absolute;z-index:1;right:10px;top:25px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.header .gnb .alarm .num{font-size:14px;}

.container{height:auto;overflow:auto;}
.lnb{position:absolute;display:none;z-index:9999;left:0;height:-webkit-calc(100% - 75px);height:calc(100% - 75px);width:278px;border-radius:0 50px 0 0;background: #F0F2F8;border: 2px solid #FFFFFF;box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);}
.lnb .box{overflow-y:auto;padding:0 0 0 40px;height:-webkit-calc(100% - 100px);height:calc(100% - 100px);}
.lnb .gnb{position:relative;margin:25px 40px;}
.lnb .gnb .name{font-size:16px;margin-top:15px;}
.lnb .gnb .logout{position:absolute;top:0;right:0;margin-right:0;}

.title{font-size:25px;}
.subtit{font-size:20px;margin-top:10px;}

.contents{float:auto;width:100%;}
.main_wrap{padding:20px 30px;}
.main_list_wrap{margin-top:0;}
.main_list_wrap .cont{width:100%;float:auto;height:auto;margin-top:40px;}
.main_list_wrap .cont:first-child{margin-top:0;}
.main_list_wrap .cont .box{padding:40px 0;}
.main_list_wrap .cont .title_area{padding-top:0;}
.main_list_wrap .cont .title_area:after{content:'';display:block;clear:both;}
.main_list_wrap .cont .title_area .tit{float:left;font-size:30px;text-align:left;}
.main_list_wrap .cont .title_area .num{float:right;margin:0;line-height:0;}
.main_list_wrap .cont .title_area .num .gra{font-size:40px;}
.main_list_wrap .cont .list_area .main_list{border:none;}
.main_list_wrap .cont .list_area .main_list li{border:none;display:block;}
.main_list_wrap .cont .list_area .main_list .tit{display:inline-block;width:100%;}

.main_list_wrap .cont .list_area .main_list li .date{display:none;}
.main_list_wrap .cont .btn_area{position:relative;bottom:auto;margin-top:20px;}

.main_room_wrap .room_cont{padding:21px 0;position:relative;}
.main_room_wrap .title_area{float:auto !important;width:auto;margin-bottom:40px;}
.main_room_wrap .room_list_area{float:auto !important;width:auto;}
.main_room_wrap .room_list li{width:100%;float:auto;}
.main_room_wrap .room_list li .cont{height:50px;line-height:50px;margin-top:10px;}
.main_room_wrap .room_list li .cont .box > span{height:50px;}
.main_room_wrap .room_list li .cont .box > span:first-child{padding-left:15px;}
.main_room_wrap .room_list li .cont .box > span.ico{width:40px;text-align:left;}
.main_room_wrap .room_list li .cont .box > span.btn{width:92px;}
.main_room_wrap .btn_area{position:absolute;top:20px;right:0;float:auto !important;width:auto;}
.room_list_area li {width:100%;}
.main_room_wrap .room_list li > .btncont{text-align:center;}
.main_list_wrap .cont .nodata{background:none !important;}
.main_list_wrap .cont .nodata .txt{padding-top:0;padding-bottom:39px;font-size:28px;}
.main_list_wrap .cont .nodata .box{padding:30px 0;}
.main_room_wrap .search_area{width:100%;float:auto;}
.main_room_wrap .search_area .box{margin-left:0;width:100%;height:50px;}
.main_room_wrap .search_area .box input[type="search"]{font-size:16px;height:50px;width:-webkit-calc(100% - 68px);width:calc(100% - 68px);}
.main_room_wrap .search_area .box button.btn_search{width:68px;height:30px;}


.join_panel_box{margin-left:-5px;}
.join_panel_box li .cont{height:89px;margin-left:5px;}
.join_panel_box li .cont span{display:block;}
.join_panel_box li .cont .box{position:relative;padding:0;height:100%;padding:0;}
.join_panel_box li .cont .box .tit{position:absolute;bottom:17px;width:100%;border:0;font-size:14px;padding:0;}
.join_panel_box li.on .cont .box .tit{border:0;}
.join_panel_box li .cont .box .num{padding-top:15px;}
.join_panel_box li .cont .box .num em{display:none;}
.join_panel_box li .cont .box .num .gra{display:block;font-size:30px;line-height:35px;margin:0;}
.join_panel_box li .cont .box:after{display:none;}
.join_list_box{margin-top:25px;}
.join_list_box li{margin-top:20px;height:109px;background: #F9FAFC;border: 1px solid #D4D8DB;box-sizing: border-box;border-radius: 8px;position:relative;}
.join_list_box li:first-child{margin-top:0;}
.join_list_box li .tb{display:block;padding:20px;}
.join_list_box li .cell{display:block;text-align:left;height:auto;float:left;}
.join_list_box li .cell.num,
.join_list_box li .cell.name,
.join_list_box li .cell.count,
.join_list_box li .cell.date,
.join_list_box li .cell.state{width:auto;}
.join_list_box li .cell.num{margin-right:10px;}
.join_list_box li .cell.tit{width:60%;}
.join_list_box li .cell.tit span{font-size:16px;}
.join_list_box li .cell.name{clear:both;padding-top:15px;}
.join_list_box li .cell.date{position:absolute;right:16px;bottom:23px;}
.join_list_box li .cell.date .stit{display:none;}
.join_list_box li .cell.date .data{font-size:13px;color:#666;letter-spacing:0;}
.join_list_box li .cell.count{padding-top:15px;margin-left:15px}
.join_list_box li .cell.state{position:absolute;top:20px;right:16px;}
.join_list_box li .cell .stit{font-size:14px;padding:0;}
.join_list_box li .cell .stit:after{display:none;}
.join_list_box li .cell .data{font-size:14px;}
.join_list_box li .cell.num span{font-size:13px;width:30px;height:25px;line-height:25px;}
.join_list_box li .cell.state .ico{width:60px;height:25px;font-size:14px;line-height:25px;}

.login_wrap{width:auto;margin:40px;}
.login_wrap .cont{padding:30px 40px;}
.login_wrap .title{margin-bottom:20px;}
.login_wrap .cont .inp_box label{font-size:18px;}

.step_list li{font-size:14px;}
.join_end_box {width:100%;}
.join_end_box .cont{padding:55px 25px;}
.join_end_box .cont .txt_area:after{height:125px;background:url(../images/contents/bg_join_end.png) no-repeat center top;background-size:auto 100%;}
.join_end_box .cont .txt_area .tit{font-size:25px;}
.join_end_box .cont .txt_area .tit > *{font-size:25px;}
.join_end_box .cont .txt_area .txt{font-size:16px;}

.footer{padding:30px 30px 65px;}
}
